.modal-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3000;
}
.modal-box {
    text-align: center;
    width: 500px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-title {
    color: #000;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
}
.modal-content {
    font-size: 14px;
    text-align: left;
    height: 200px;
}